<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
		<title>Yogstation Account Linking</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<header class="d-flex justify-content-center align-items-center"
				style="height: 3rem;background: var(--bs-blue);">
			<h1 style="color: rgb(255,255,255);">Yogstation Account Linking</h1>
		</header>
		<div class="container" style="margin-top: 2rem;">
			<div class="card">
				<div class="card-body d-flex flex-column justify-content-center align-items-center">
					<h4 class="card-title">Please confirm account linking</h4>
					<p class="card-text">Is this your discord account?</p>
					<span th:text="${ discordTag }">User tag here</span>
					<img class="rounded-circle d-block" style="margin: 0 auto;" th:src="${ discordAvatar }">
					<form method="post" style="margin-top: 2rem;">
						<input class="form-control" name="csrftoken" th:value="${ csrfToken }" type="hidden">
						<input class="form-control" name="state" th:value="${ state }" type="hidden">
						<button class="btn btn-danger" onclick="window.close()" style="margin: 0 1rem;" type="button">
							No
						</button>
						<button class="btn btn-success" style="margin: 0 1rem;" type="submit">Yes</button>
					</form>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
